
/*#codeText.textBody {padding-bottom:20px;height:100%}
#thePage-outer{padding-top:8px;width:100%;height:100%}
#thePage-wrap {width:740px;margin:auto;color:#000;background-color:#fff;padding-left:10px;padding-right:10px;}
#thePage{width:720px; padding-top:2px;min-height:500px}
*/
#doc-view span.def {background-color:Yellow ;}
#doc-view .searchterm {background-color:Yellow ;}

#doc-view #sectionBanner {display:block;}

/* viewDef  */
#doc-viewer #defFrame, #defFrame { position:fixed;display:none; background-color:#FFFFE0; border:2px solid #CCCC7A; width:400px;}

#doc-view #viewDef {
	/*font-family: cambria, georgia, palatino linotype, palatino, ms serif;*/
	font-size: 9pt;
	line-height: 1.25em;
	border: 2px dashed #cdd6d0;
	background-color: #02448a;
	padding: 0px;
	margin: 0px;
	overflow: hidden;
	text-overflow:ellipsis;
}


#doc-view #viewDef p,#doc-view #viewDef ol,#doc-view #viewDef ul,#doc-view #viewDef li,#viewDef h3  {
	color: #f4eae6;
}
/*
#viewDef h3XX  {
	margin-bottom: 3px;
}
*/

#doc-view #viewDef strong.def, #doc-view #viewDef h3  {
	color: white;
}

#doc-view #viewDef a	{
	color: #f4eae6;
	text-decoration: none;
}

#doc-view #viewDef table.dp  {
	height: 100%;
	width: 100%;
	padding:0;
	margin:0;
	color:#fff;
	background-color:#02448a; /*dark blue*/
} 

#doc-view #viewDef td.dd   {
	color: #f4eae6;
	height: 50px;
	overflow:hidden;
}

/* Divisions */

#doc-view #commentsWin  {
	position: absolute; 
	top: 100px; 
	left: 3px; 
	height: 300px; 
	border: solid 1px silver; 
	color: white; width: 15px; 
	background-color: #395165; 
	font: normal bold 10pt helvetica; 
	text-align: center; 
	cursor: pointer;
	visibility: hidden;
}


/* Headings */

#doc-view h1 {
	font: 18pt Calibri, Verdana, Arial, Optima;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	text-indent: 0pt;
	margin: 0pt 0pt 6pt 0pt;
	padding: 0pt 0pt 0pt 0pt;
	color: black;
	page-break-after: avoid;
}

#doc-view h2 {
	font: 16pt Calibri, Verdana, Arial, Optima;
	font-weight: bold;
	text-transform: uppercase;
	text-align: left;
	text-indent: 0pt;
	margin: 0pt 0pt 6pt 0pt;
	padding: 0pt 0pt 0pt 0pt;
	color: black;
	page-break-after: avoid;
}

#doc-view h3 {
	font: 14pt Calibri, Verdana, Arial, Optima;
	font-weight: bold;
	text-transform: none;
	text-align: left;
	text-indent: 0pt;	
	margin: 0pt 0pt 6pt 0pt;
	padding: 0pt 0pt 0pt 0pt;
	color: black;
	page-break-after: avoid;
}

#doc-view h4 {
	font: 12pt Calibri, Verdana, Arial, Optima;
	font-weight: bold;
	text-transform: none;
	text-align: left;
	text-indent: 0pt;	
	border-bottom: 0px;
	margin: 0pt 0pt 6pt 0pt;
	padding: 0pt 0pt 0pt 0pt;
	color: black;
	page-break-after: avoid;
}


/* Ordered List styles */

/* List styles */

#doc-view ol, OL {
	/*font-family: cambria, georgia, palatino linotype, palatino, ms serif;*/
	font-weight: normal;
    text-align: justify;
    margin-left: 0.32in;
	margin-top:0pt;
	margin-bottom:0pt;
    text-indent: -0in;
	list-style-type: upper-alpha;

}

#doc-view ol ol { list-style-type: decimal; }
#doc-view ol ol ol { list-style-type: lower-alpha; }
#doc-view ol ol ol ol { list-style-type: lower-roman; }
#doc-view ol ol ol ol ol { list-style-type: lower-alpha; }
#doc-view ol ol ol ol ol ol { list-style-type: decimal; }

#doc-view ul {
	font-weight: normal;
    text-align: justify;
    margin-left: 0.32in;
    text-indent: -0in;
}

#doc-view li
{
    margin-top: 0pt;
    margin-bottom: 6pt;
    text-align: justify;
	line-height:115%;
}
#doc-view li li
{
    margin-top: 0pt;
    margin-bottom: 3pt;
    text-align: justify;
	line-height:115%;
}

#doc-view .first
{
	margin-top:0pt;
}

/* paragraph and text formatting */

#doc-view p {
	font-size: 11pt;
	font-weight: normal;
	text-align: justify;
	margin-top: 0pt;
	margin-bottom: 6pt;
	color: black;
	line-height:115%;
}

#doc-view p.cite { 
	text-align:left;
	font-size: 9pt;
	font-weight: normal;
	font-style: italic;
	margin-top: 8pt;
	color: #900;
	line-height:inherit;
	}

#doc-view strong {
	font-weight: bold;
}

#doc-view strong.def {
	font-size: 12pt;
	font-weight: bold;
	color: #17196B;
	margin-top: 12pt;
}

#doc-view strong.IndentSecNum {
	font-size: 11pt;
	font-weight: bold;
	color: black;
}

#doc-view em.iCaption {
    color: black;
    font-size: 9pt;
    font-weight: normal;
    font-style: italic;
    margin-bottom: 8px;
    margin-top: 8px;
    text-align: left;
}

#doc-view blockquote   {
	margin-top: 6pt;
	margin-bottom: 6pt;
	margin-left: 0.5in;
	margin-right: 0.5in;
	font-size: 11pt;
	font-weight: normal;
	text-align: justify;
	color: black;
	line-height:110%;
}

/* image formatting */

#doc-view img		{
	display: block;
}

/* anchor formatting */

#doc-view a {
	color: navy;
	text-decoration: none;
	font-style: normal;
	border-bottom: dashed 1px silver;
}

#doc-view a:hover {
	background-color: #FFFF80;
	border-top: solid 1px gray;
	border-bottom: solid 1px gray;
}

#doc-view a:visited {
	color: navy;
	text-decoration: none;
	font-style: normal;
}

#doc-view a:link {
	color: navy;
	text-decoration: none;
	font-style: normal;
}

#doc-view a:active {
	color: red;
	text-decoration: none;
	font-style: normal;
}

/* table subheading hyperlinks */

#doc-view table.general {
	background-color: transparent;
}

#doc-view table.general td.sheading a {
	color: white;
	text-decoration: none;
	font-style: normal;
	border-bottom: dashed 1px white;
}

#doc-view table.general td.sheading a:hover {
	background-color: #009;
	color: white;
	border-top: solid 1px white;
	border-bottom: solid 1px white;
}

#doc-view table.general td.sheading a:visited {
	color: white;
	text-decoration: none;
	font-style: normal;
}

#doc-view table.general td.sheading a:link {
	color: white;
	text-decoration: none;
	font-style: normal;
}

#doc-view table.general td.sheading a:active {
	color: white;
	text-decoration: none;
	font-style: normal;
}

/* ilink anchors' use not known */
#doc-view a.iLink
{
	color: black;
	font-style: normal;
	border-bottom: dotted 1px #295a98;
}

#doc-view a.iLink:hover 
{
	background-color: #ffdcd5;
	border-top: solid 1px #295a98;
	border-bottom: solid 1px #295a98;
}

/* hr Horizontal rule  */


/* strike and underline formatting */

#doc-view strike.MyStrike1,#doc-view strike.MyStrike2,#doc-view strike.MyStrike3,#doc-view strike.MyStrike4,#doc-view strike.MyStrike5,#doc-view strike.MyStrike6,#doc-view strike.MyStrike7	{
	font-style:normal;
	text-decoration:line-through;
	}

#doc-view u.MyInsert1,#doc-view u.MyInsert2,#doc-view u.MyInsert3,#doc-view u.MyInsert4,#doc-view u.MyInsert5,#doc-view u.MyInsert6,#doc-view u.MyInsert7 	{
	font-style:normal;
	text-decoration:overline;
	}

#doc-view strike.MyStrike1, #doc-view u.MyInsert1 	{
	color: DarkBlue;
	background-color: AliceBlue;	
	}

#doc-view strike.MyStrike2, #doc-view u.MyInsert2 	 	{
	color: Purple;
	background-color: Lavender;	
	}

#doc-view strike.MyStrike3, #doc-view u.MyInsert3	 	{
	color: Brown;
	background-color: AntiqueWhite;	
	}

#doc-view strike.MyStrike4, #doc-view u.MyInsert4		 	{
	color: navy;
	background-color: AntiqueWhite;	
	}

#doc-view strike.MyStrike5, #doc-view u.MyInsert5	 	{
	color: DarkGreen;
	background-color: LightGoldenrodYellow;	
	}

#doc-view strike.MyStrike6, #doc-view u.MyInsert6 	 	{
	color: maroon;
	background-color: CCFFCC;	
	}

#doc-view strike.MyStrike7, #doc-view u.MyInsert7 	 	{
	color: 003300;
	background-color: DDDDDD;	
	}

/* Section identification, cross-reference identification, and found term identification */

#doc-view span.SecID  {
	color: #17196B;
	background-color: #E0E0E0;
	cursor: wait;
}

#doc-view span.xRefID  {
	color: #295a98;
	background-color: #C8E7AD;
	cursor: wait;
}

#doc-view span.highlightFoundSearchWord  {
	background-color: #FFFF80;
	border-top: solid 1px gray;
	border-bottom: solid 1px gray;
}

#doc-view span.neutralFoundSearchWord  {
	border-top: none;
	border-bottom: none;
}



/* General Table Formatting */

#doc-view table.general  {
	width: 100%;
	margin: 12pt 0pt 18pt 0pt
	border: 1px solid black;
	border-collapse:collapse;
	empty-cells: show;
	text-align: left;
	background-color: transparent;
	line-height:normal;
}

#doc-view thead {display: table-header-group; line-height:normal;}
#doc-view tfoot {display: table-footer-group; line-height:normal;}
#doc-view tr {page-break-inside:avoid}

#doc-view table.general td.Heading, #doc-view table.general td.heading {
	font-size: 11pt;
	font-weight: bold;	
	color: #ffffff;
	text-align: center;
	background-color: #6d4c20;
	vertical-align: middle;
	border: 1px solid black;
	border-bottom-width: 2px;
	page-break-after: avoid;
	page-break-inside: avoid;
}

#doc-view table.general td.sHeading, #doc-view table.general td.sheading {
	font-size: 8.5pt;
	font-weight: normal;	
	color: #ffffff;
	background-color: #a88f72;
	vertical-align: bottom;
	border-style: solid;
	page-break-before: avoid;
	page-break-after: avoid;
	page-break-inside: avoid;
}

#doc-view table.general tr.subsubheading, #doc-view table.general td.subsubheading {
	font-size: 8.5pt;
	font-variant: normal;
	font-weight: bold;
	color: black;
	background-color: #fccf61;
	page-break-before: avoid;
	page-break-after: avoid;
	page-break-inside:avoid;
}

#doc-view table.general td.alt1, #doc-view table.general tr.alt1 {
	background-color: #fff;
}

#doc-view table.general td.alt2, #doc-view table.general tr.alt2 {
	background-color: #fef4dc;
}


#doc-view table.general td {
	/*font-family: calibri, verdana, arial, optima;*/
	font-size: 8pt;
	font-variant: normal;
	font-weight: normal;	
	padding: 1pt 3pt 1pt 3pt;
	border-style: solid;
	page-break-inside:avoid;
}

#doc-view table.general td p {
	/*font-family: calibri, verdana, arial, optima;*/
	font-size: 8.5pt;
	font-variant: normal;
	font-weight: normal;
	text-align:left;
	color: #000000;
	font-weight: normal;
	margin:  3pt 0pt 3pt 0pt;
	line-height:100%;
	word-break: hyphenate;
	hyphens:auto;
	}

#doc-view table.general td ol {
	list-style: decimal;
	list-style-position:inside;
	/*font-family: calibri, verdana, arial, optima;*/
	font-size: 8.5pt;
	font-variant: normal;
	font-weight: normal;
	text-align:left;
	color: #000000;
	font-weight: normal;
	margin: 2pt 0pt 2pt 0pt;
}

#doc-view table.general ol li, table.general ol LI {
    margin-top: 1pt;
    margin-bottom: 1pt;
	margin-left:0pt;
    text-align: left;
	line-height:100%;
	word-break: hyphenate;
	hyphens:auto;
}

#doc-view table.general td ol ol {
	list-style: lower-alpha;
	list-style-position:inside;
	/*font-family: calibri, verdana, arial, optima;*/
	font-size: 8.5pt;
	font-variant: normal;
	font-weight: normal;	
	text-align:left;
	color: #000000;
	font-weight: normal;
	margin: 2pt 0pt 2pt 0pt;
}

#doc-view table.general ol ol li {
    margin-top: 1pt;
    margin-bottom: 1pt;
	margin-left:1.25em;
    text-align: left;
	line-height:100%;
	word-break: hyphenate;
	hyphens:auto;
}

#doc-view table.general td ol ol ol {
	list-style: lower-roman;
	list-style-position:inside;
	font-family: calibri, verdana, arial, optima;
	font-size: 8.5pt;
	font-variant: normal;
	font-weight: normal;	
	text-align:left;
	color: #000000;
	font-weight: normal;
	margin: 2pt 0pt 2pt 0pt;
}

#doc-view table.general ol ol ol li {
    margin-top: 1pt;
    margin-bottom: 1pt;
	margin-left:2.5em;
    text-align: left;
	line-height:100%;
	word-break: hyphenate;
	hyphens:auto;
}

#doc-view table.general td ul {
	list-style:square;
	list-style-position:inside;
	/*font-family: calibri, verdana, arial, optima;*/
	font-size: 8.5pt;
	font-variant: normal;
	font-weight: normal;	
	text-align:left;
	color: #000000;
	font-weight: normal;
	margin: 2pt 0pt 2pt 0pt;
}

#doc-view table.general ul li{
    margin-top: 1pt;
    margin-bottom: 1pt;
	margin-left:0em;
    text-align: left;
	line-height:100%;
	word-break: hyphenate;
	hyphens:auto;
}

#doc-view table.figure {
	width: 90%;
	/*font-family: calibri, verdana, arial, optima;*/
	margin: 12pt 5% 18pt 5%;
	border: 1px solid #7c81a3;
	border-top: 1px #000 solid;
	border-collapse: collapse;
	empty-cells: show;
	background-color: #ffffff;
}

#doc-view table.legend  {
	width: 450px;
	margin: 12pt 7.5% 6pt 7.5%;
	border: 1px solid black;
	border-collapse:collapse;
	empty-cells: show;
	text-align: left;
	background-color: #ffffff;
	line-height:normal;
}

#doc-view table.legend td, #doc-view table.figure td {
	/*font-family: calibri, verdana, arial, optima;*/
	font-size: 8pt;
	font-variant: normal;
	font-weight: normal;	
	padding: 1pt 3pt 1pt 3pt;
	border-style: solid;
	page-break-inside:avoid;
}

#doc-view table.legend td p, #doc-view table.figure td p {
	/*font-family: calibri, verdana, arial, optima;*/
	font-size: 8.5pt;
	font-variant: normal;
	font-weight: normal;
	text-align:left;
	color: #000000;
	font-weight: normal;
	margin:  3pt 0pt 3pt 0pt;
	line-height:100%;
	word-break: hyphenate;
	hyphens:auto;
	}

#doc-view table.figure{
	background-color: transparent;
}

#doc-view table.figure td.heading, #doc-view table.figure td.Heading {
	/*font-family: calibri, verdana, arial, optima;*/
	font-size: 11pt;
	font-variant: normal;
	font-weight: bold;
	color: #fff;
	text-align: center;
	text-transform: none;
	background-color: #d8852a;
	vertical-align: middle;
	padding: 1pt 3pt 1pt 3pt;
	border: 1px solid #000;
	border-bottom-width: 2px;
	page-break-after: avoid;
	page-break-inside: avoid;
}

/* Table Footers */
#doc-view tfoot td {
	border-bottom:none;
	border-left:none;
	border-right:none;
	border-top:solid;
	page-break-inside:avoid;
	padding: 2pt 2pt 2pt 2pt;
}
#doc-view tfoot p {
	/*font-family: calibri, verdana, arial, optima;*/
	font-size: 8.5pt;
	font-variant: normal;
	font-weight: normal;	
	color: #000000;
	font-weight: normal;
	background-color: #fff;
	text-indent:.25in;
	margin-bottom: 6pt;
	margin-left: 0pt;
	background-color:#FFC;
	}

#doc-view tfoot ol {
	list-style:decimal;
	/*font-family: calibri, verdana, arial, optima;*/
	font-size: 8.5pt;
	margin-left: 2pt;
	margin-top:0pt;
	font-variant: normal;
	font-weight: normal;	
	padding: 0pt 2pt .5pt 2pt;
}
#doc-view tfoot ol li {
	color: #000000;
	font-weight: normal;
	background-color: #fff;
	margin-top:1pt;
	margin-bottom:3pt;
	padding: 0pt 2pt 0pt 2pt;
	text-indent:.15in;
	list-style-position:inside;
}

/* Other Material */

#doc-view table.inText {
	background-color: white;
	border-color: black;
	margin-top: 0px;
}

#doc-view td.inText  {
	background-color: white;
	border-color: silver;
}

#doc-view table.reference {
	font-size: 8pt;
	/*font-family: georgia, palatino linotype, tunga, MS Serif;*/
	margin-bottom: 20px;
	margin-left: 20px;
	width: 300px;
	align: right;
	cellspacing: 0;
	border-collapse: collapse;
}

#doc-view td.rHeading {
	font-size: 9pt;
	/*font-family: georgia, palatino linotype, tunga, MS Serif;*/
	font-weight: bold;
	color: #000000;
	background-color: #ffff66;
	padding: 2px;
	border: 1px solid black;
}

#doc-view td.rBody {
	font-size: 8pt;
	/*font-family: georgia, palatino linotype, tunga, MS Serif;*/
	font-weight: normal;
	color: #000000;
	background-color: #ffffcc;
	padding: 2px;
	border: 1px solid black;
}



#doc-view table.commentary {
	border: dotted 1px black; 
	margin-top: 6px;
	margin-bottom: 6px;
	border-collapse: collapse;
}

#doc-view td.commentary {
	font-size: 13px;
	/*font-family: calibri, verdana, arial, optima;*/
	font-weight: normal;
	color: #000000;
	text-align: left;
	padding: 2px;
	border: 1px solid black;

}

#doc-view table.sec_comments {
    border:1px solid #000;
    width:98%;
     margin:1em auto 0 auto;
}
#doc-view table.sec_comments td {
    font-size:9pt;
    border:1px solid #000;
}

#doc-view Table.sec_comments td.heading {
	/*font-family: calibri, verdana, arial, optima;*/
	font-size: 10pt;
	font-variant: normal;
	font-weight: bold;	
	padding: 1pt 2pt 1pt 2pt;
	color: #ffffff;
	text-align: center;
	background-color: #060;
	vertical-align: middle;
	border: 1px solid black;
	border-bottom-width: 2px;
	page-break-after: avoid;
	page-break-inside: avoid;
	}
	
#doc-view Table.sec_comments td.sheading { 
	/*font-family: calibri, verdana, arial, optima;*/
	font-size: 9.5pt;
	font-variant: normal;
	font-weight: bold;	
	padding: 1pt 2pt 1pt 2pt;
	color: #ffffff;
	background-color: #9C6;
	vertical-align: bottom;
/*    border: 1px solid #EEE; */
	border-style: solid;
	page-break-after: avoid;
	page-break-inside: avoid;
}

#doc-view .textPage.archive
{
    background-image: url(../resources/ArchiveCopy.png);
    background-repeat:repeat-x repeat-y;
}


/*****************************/
/*       Code Text           */
/*****************************/
#doc-view .textPage, .doc-view{
	background-image: url('../resources/textBodyBackground.jpg');
	background-repeat: repeat-x;
	text-align:center;
}
#doc-view #thePage
{
    width:720px;
    margin:auto;
    background-color:#FFF;
    min-height:500px;
}
#doc-view #thePage-wrap
{
    width:760px;
    padding:10px;
    margin:auto;
    background-color:#FFF;
}
#doc-view #thePage-outer {padding-bottom:10px;}
#doc-view #thePage-outer.pdfMode #thePage-wrap
{
    width:auto;
    margin:auto;
    background-color:#FFF;
}
#doc-view #thePage-outer.pdfMode  
{
    background-color: #FFFFFF;
}
#doc-view #thePage-outer.pdfMode #thePage-wrap
{
    width:auto;
    padding:0px;
}
#modalProgress
{
    position:fixed;
    width:100%;
    height:100%;
    background:transparent url('../maintain/resources/frost.png') repeat ;
}
#modalProgress img 
{
    display:block;
    margin:auto;
    margin-top:200px;
}
#doc-view .archiveNotice {font-size:80%;}